*{
box-sizing:border-box;
}


body{

margin:0;

font-family:

Arial,
"Microsoft YaHei",
sans-serif;

background:#0b1220;

color:#e5e7eb;

line-height:1.7;

}



.container{

max-width:1100px;

margin:auto;

padding:40px 20px;

}



header{

position:sticky;

top:0;

background:#0b1220;

border-bottom:1px solid #243044;

}



.nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 20px;

}



button{

background:none;

border:1px solid #64748b;

color:white;

padding:8px 15px;

border-radius:8px;

cursor:pointer;

}




.hero{

padding:100px 0;

background:

linear-gradient(
135deg,
#111827,
#0f172a
);

}



.hero h1{

font-size:48px;

}



.hero p{

font-size:20px;

max-width:700px;

}



.btn{

display:inline-block;

margin-top:25px;

padding:12px 30px;

background:#2563eb;

color:white;

text-decoration:none;

border-radius:10px;

}




.cards{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:20px;

}




.card,
.project{

background:#111827;

padding:25px;

border-radius:15px;

border:1px solid #1f2937;

}



h2{

font-size:32px;

margin-top:60px;

}



.project{

margin-bottom:25px;

}



.contact{

text-align:center;

}



footer{

text-align:center;

padding:30px;

color:#94a3b8;

}





@media(max-width:800px){


.cards{

grid-template-columns:1fr;

}



.hero h1{

font-size:35px;

}


}
